/* ------------------------------------------------------------------------- */
body {
  background: #0f172a;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
}
/* ------------------------------------------------------------------------- */
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
/* ------------------------------------------------------------------------- */

.image1 {
  border-radius: 20px;
  box-shadow:
    0 0 20px rgba(224, 177, 7, 0.6),
    0 0 40px rgba(227, 179, 5, 0.797);
}
/* ------------------------------------------------------------------------- */

.image2 {
  border-radius: 20px;
  box-shadow:
    0 0 20px rgba(135, 137, 125, 0.348),
    0 0 40px rgba(178, 181, 164, 0.797);
}
/* ------------------------------------------------------------------------- */
.image3 {
  border-radius: 20px;
  box-shadow:
    0 0 20px rgba(209, 227, 97, 0.6),
    0 0 40px rgba(95, 109, 37, 0.797);
}
/* ------------------------------------------------------------------------- */
p {
  color: white;
  font-size: large;
}
/* -  ------------------------------------------------------------------------ */
.h1-1 {
  color: rgb(189, 136, 20);
  font-size: 50px;
  overflow: hidden;
  white-space: nowrap;
  width: 0;
  animation:
    typing-1 2s steps(18) forwards,
    blink 0.7s;
  margin-bottom: 50px;
}
/* -  ------------------------------------------------------------------------ */
.h1-2 {
  color: rgb(58, 55, 48);
}
/* -  ------------------------------------------------------------------------ */
.h1-3 {
  color: rgb(84, 93, 13);
}
/* ------------------------------------------------------------------------- */
@keyframes typing-1 {
  from {
    width: 0;
  }
  to {
    width: 58ch;
  }
}
/* ------------------------------------------------------------------------- */