/* ------------------------------------------------------------------------- */
body {
  background: #0f172a;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
}
/* ------------------------------------------------------------------------- */
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
/* ------------------------------------------------------------------------- */
.image1 {
  border-radius: 20px;
  box-shadow:
    0 0 20px rgba(158, 186, 16, 0.6),
    0 0 40px rgba(175, 227, 5, 0.797);
}
/* ------------------------------------------------------------------------- */

.image2 {
  border-radius: 20px;
  box-shadow:
    0 0 20px rgba(193, 195, 182, 0.348),
    0 0 40px rgba(114, 114, 110, 0.797);
}
/* ------------------------------------------------------------------------- */
.image3 {
  border-radius: 20px;
  box-shadow:
    0 0 20px rgba(220, 174, 20, 0.6),
    0 0 40px rgba(143, 132, 34, 0.797);
}
/* ------------------------------------------------------------------------- */
p {
  color: white;
  font-size: large;
}
/* -  ------------------------------------------------------------------------ */
.h1-1 {
  color: rgb(178, 189, 20);
  font-size: 50px;
  overflow: hidden;
  white-space: nowrap;
  width: 0;
  animation:
    typing-1 1s steps(18) forwards,
    blink 0.7s;
  margin-bottom: 50px;
}
/* -  ------------------------------------------------------------------------ */
.h1-2 {
  color: rgb(161, 158, 152);
}
/* -  ------------------------------------------------------------------------ */
.h1-3 {
  color: rgb(138, 114, 30);
}
/* ------------------------------------------------------------------------- */
@keyframes typing-1 {
  from {
    width: 0;
  }
  to {
    width: 58ch;
  }
}
/* ------------------------------------------------------------------------- */
